/* src/pages/Main/components/MainPopularSection/MainPopularSection.css */
.main-purpose-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 992px) {
  .main-purpose-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .main-purpose-grid {
    grid-template-columns: 1fr 1fr;
  }
}
